### **Hamoye Internship**
---
Machine Learning: Regression - Predicting Energy Efficiency of Buildings - Tag along codes

Author: Emmanuel Mugabo

ID: 16dca05911c1f000

### Importing required libraries

In [1]:
# Data manipulation
import pandas as pd

# Mathematical computation
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Data evaluation and modelling
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [2]:
#loading in dataset
df = pd.read_csv("/content/energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
df.shape

(19735, 29)

In [5]:
df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

Q12: From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius `(x = T2)` and the temperature outside the building `(y = T6)`. What is the `R^2` value in two d.p.?

In [7]:
# Filter out the independent feature (T2) and dependent variable (T6)
x_temp_in = df["T2"].values.reshape(-1, 1)
y_temp_out = df["T6"].values

In [8]:
# Check the shape
x_temp_in.shape, y_temp_out.shape

((19735, 1), (19735,))

In [9]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x_temp_in, y_temp_out, test_size=0.3, random_state=42)

In [10]:
# Fit the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [11]:
# Predict the model
y_preds = model.predict(X_test)

In [12]:
# R^2 value in two d.p.
r2 = model.score(X_test, y_test)
print("R^2 value in two d.p. is:", r2.round(2))

R^2 value in two d.p. is: 0.64

Q13: Normalize the dataset using the MinMaxScaler after removing the following columns: `[“date”, “lights”]`. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [13]:
# Remove columns "date" and "lights"
df.drop(["date", "lights"], axis=1, inplace= True)

In [14]:
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [15]:
# Normalize the data
scaler = MinMaxScaler()
norm_data = pd.DataFrame(scaler.fit_transform(df),columns = df.columns)

In [16]:
norm_data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [17]:
# Create the x and y variables for the training and test set
x = norm_data.drop('Appliances',axis = 1)
y = norm_data['Appliances']

In [18]:
 # Split data into train and test
X_train,X_test,y_train,y_test =train_test_split(x,y,test_size = 0.3,random_state = 42)

In [19]:
# Create the linear regression model
model_lr = LinearRegression()
# Fit the model
model.fit(X_train, y_train)

LinearRegression()

In [20]:
# Predict the Model
y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

In [21]:
# Calculate the mean absolute error
mae_lr = (mean_absolute_error(y_test, y_test_predict))
print("Mean Absolute Error:", mae_lr.round(2))

Mean Absolute Error: 0.05

Q14: What is the Residual Sum of Squares (in two decimal places)?

In [22]:
# Calculate the Residual Sum of Squares (RSS)
rss_lr = mean_squared_error(y_test, y_test_predict) * len(y_test)
print("Residual Sum of Squares:", rss_lr.round(2))

Residual Sum of Squares: 45.35

Q15: What is the Root Mean Squared Error (in three decimal places)

In [23]:
# Calculate the Root Mean Squared Error (RMSE)
rmse_lr = mean_squared_error(y_test, y_test_predict,squared=False)
# Print the RMSE with three decimal places
print(f"Root Mean Squared Error: {rmse_lr:.3f}")

Root Mean Squared Error: 0.088

Q16: What is the Coefficient of Determination (in two decimal places)?

In [24]:
# Calculate the Coefficient of Determination (R-squared)
r2_lr = r2_score(y_test, y_test_predict)
# Print the RMSE with three decimal places
print(f"Coefficient of Determination (R-squared): {r2_lr:.2f}")

Coefficient of Determination (R-squared): 0.15

Q17: Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [25]:
columns = ['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2']
for i, col in enumerate(columns):
    print(i, col)

0 T1
1 RH_1
2 T2
3 RH_2
4 T3
5 RH_3
6 T4
7 RH_4
8 T5
9 RH_5
10 T6
11 RH_6
12 T7
13 RH_7
14 T8
15 RH_8
16 T9
17 RH_9
18 T_out
19 Press_mm_hg
20 RH_out
21 Windspeed
22 Visibility
23 Tdewpoint
24 rv1
25 rv2

In [26]:
# Get the feature weights
weights = model.coef_
dict_weights = ({"features":columns,
                 "weights":weights,
                 })
for col, weights in zip(dict_weights["features"], dict_weights["weights"]):
    print(col, weights)

T1 -0.0032810511943449955
RH_1 0.5535465998386385
T2 -0.23617791869490953
RH_2 -0.45669794833849897
T3 0.290627137497035
RH_3 0.09604827330604822
T4 0.028980998554440855
RH_4 0.02638577689180207
T5 -0.015656842778628367
RH_5 0.01600578842813376
T6 0.23642490886650835
RH_6 0.03804865205895018
T7 0.010318776387943214
RH_7 -0.044613637361088164
T8 0.10199504524367516
RH_8 -0.15759547759013165
T9 -0.18994077300830786
RH_9 -0.0398003166168215
T_out -0.321859668130085
Press_mm_hg 0.006839326382765933
RH_out -0.07767065318166695
Windspeed 0.02918312919843023
Visibility 0.012306608976810735
Tdewpoint 0.11775773489644314
rv1 0.0007700981331761158
rv2 0.0007700981331772764

In [27]:
df_weights = pd.DataFrame(dict_weights)

df_weights

       features   weights
0            T1 -0.003281
1          RH_1  0.553547
2            T2 -0.236178
3          RH_2 -0.456698
4            T3  0.290627
5          RH_3  0.096048
6            T4  0.028981
7          RH_4  0.026386
8            T5 -0.015657
9          RH_5  0.016006
10           T6  0.236425
11         RH_6  0.038049
12           T7  0.010319
13         RH_7 -0.044614
14           T8  0.101995
15         RH_8 -0.157595
16           T9 -0.189941
17         RH_9 -0.039800
18        T_out -0.321860
19  Press_mm_hg  0.006839
20       RH_out -0.077671
21    Windspeed  0.029183
22   Visibility  0.012307
23    Tdewpoint  0.117758
24          rv1  0.000770
25          rv2  0.000770

In [28]:
print('Feature weights:', df_weights["weights"].round(2).max(), df_weights["weights"].round(2).min())

Feature weights: 0.55 -0.46

As can be seen in the above DataFrame,the features that have the lowest and highest weights are `RH_2` with -0.46 (2 decimal places) and `RH_1` with 0.55 (2 decimal places).

Q18:Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error `(RMSE)` when evaluated on the test set?

In [29]:
# Create the ridge regression model
model_ridge = Ridge(alpha=0.4)

In [30]:
# Fit the model to the training data
model_ridge.fit(X_train, y_train)

Ridge(alpha=0.4)

In [31]:
# Predict the values for the test set
pred_ridge = model_ridge.predict(X_test)

In [32]:
# Calculate the root mean squared error
rmse_ridge = np.sqrt(mean_squared_error(pred_ridge, y_test))
print('Root Mean Squared Error:', rmse_ridge.round(3))

Root Mean Squared Error: 0.088

When train a ridge regression model  with an alpha value of 0.4, there is no change to the root mean squared error `(RMSE)` when evaluated on the test set.

Q19: Train a lasso regression model with an alpha value of `0.001` and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [33]:
# Create the lasso regression model
model_lasso = Lasso(alpha=0.001)

In [34]:
# Fit the model to the training data
model_lasso.fit(X_train, y_train)

Lasso(alpha=0.001)

In [35]:
# Get the feature weights
weights_lasso = model_lasso.coef_

In [36]:
# Print the feature weights
for weight in weights_lasso:
  if (weight != 0.0 or -0.0):
    print('Feature weights:', weight)

Feature weights: 0.017879931671712382
Feature weights: -0.00011003649473682741
Feature weights: -0.04955749437854849
Feature weights: 0.0029117647911781684

As can be seen, we have 4 non-zero feature weights after training a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it.

Q20: What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [37]:
# Predict the values for the test set
pred_lasso = model_lasso.predict(X_test)

In [38]:
# Calculate the root mean squared error
rmse_lasso = np.sqrt(mean_squared_error(pred_lasso, y_test))
print('Root Mean Squared Error:', rmse_lasso.round(3))

Root Mean Squared Error: 0.094