In [49]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
# Reading in dataset
data = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

In [51]:
# Display the first 5 features
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [52]:
# mean across the whole dataset for the year 2017 to 2 decimal place
data_norm = data['Y2017'].mean()
round(data_norm, 2)

140.92

In [53]:
# mean across the whole dataset for the year 2017 to 2 decimal place
data_std = data['Y2017'].std()
round(data_std, 2)

1671.86

In [54]:
# assigning element 8 from the list to a variable x
y = [(2, 4), (7,8), (1,5,9)]
x = y[1][1]
x

8

In [55]:
# creating a pandas df using the following list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

In [56]:
df = pd.DataFrame(lst, columns=col, index=[1,2,3])
df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [57]:
data.groupby(["Element Code"]).corr()

<ipython-input-57-6fccac2d6c72>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.corr is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(["Element Code"]).corr()

                        Area Code  Item Code     Y2014     Y2015     Y2016  \
Element Code
511          Area Code   1.000000        NaN  0.149348  0.149792  0.150292
             Item Code        NaN        NaN       NaN       NaN       NaN
             Y2014       0.149348        NaN  1.000000  0.999988  0.999951
             Y2015       0.149792        NaN  0.999988  1.000000  0.999987
             Y2016       0.150292        NaN  0.999951  0.999987  1.000000
...                           ...        ...       ...       ...       ...
5911         Y2014       0.005901   0.056301  1.000000  0.976942  0.992694
             Y2015       0.007883   0.050526  0.976942  1.000000  0.965195
             Y2016       0.006203   0.062306  0.992694  0.965195  1.000000
             Y2017       0.005156   0.063080  0.941934  0.863665  0.963790
             Y2018       0.004272   0.063211  0.942024  0.863140  0.963378

                           Y2017     Y2018
Element Code
511          Area Code  0.150840  0.151415
             Item Code       NaN       NaN
             Y2014      0.999885  0.999791
             Y2015      0.999947  0.999878
             Y2016      0.999986  0.999944
...                          ...       ...
5911         Y2014      0.941934  0.942024
             Y2015      0.863665  0.863140
             Y2016      0.963790  0.963378
             Y2017      1.000000  0.999409
             Y2018      0.999409  1.000000

[126 rows x 7 columns]

In [58]:
# the output of the code given below
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: ignored

In [59]:
# the total number of unique countries in the dataset
unique_count = data['Area'].nunique()
unique_count

49

In [60]:
# the area that had the 7th lowest sum in 2017
selected_columns = data[['Y2017', 'Area']]
grouped_data = selected_columns.groupby('Area')['Y2017'].sum()
sorted_sums = grouped_data.sort_values()
seventh_lowest_area = sorted_sums.index[6]
seventh_lowest_area

'Guinea-Bissau'

In [61]:
# Filter the dataset for 2015 and 2018
filtered_data = data[['Y2015', 'Y2018', 'Item']]
grouped_data = filtered_data.groupby('Item')['Y2015', 'Y2018'].sum()
# Retrieve the sum of wine produced for each year
wine_2015_sum = grouped_data.loc['Wine', 'Y2015']
wine_2018_sum = grouped_data.loc['Wine', 'Y2018']
print("Total sum of Wine produced in 2015:", wine_2015_sum)
print("Total sum of Wine produced in 2018:", wine_2018_sum)

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

<ipython-input-61-ce0c22f768ff>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data = filtered_data.groupby('Item')['Y2015', 'Y2018'].sum()

In [62]:
filtered_data = data[['Y2014']]
total_missing = filtered_data.isnull().sum().sum()
total_values = filtered_data.size
percentage_missing = (total_missing / total_values) * 100
print("Total number of missing data in 2014:", total_missing)
print("Percentage of missing data in 2014:", round(percentage_missing, 3))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607

In [63]:
# check the number of rows and columns in a pandas df
df = data
df.shape

(60943, 12)

In [64]:
data.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [66]:
#the area that had the highest sum in 2017
selected_columns = data[['Y2017', 'Area']]
grouped_data = selected_columns.groupby('Area')['Y2017'].sum()
area_highest_sum = grouped_data.idxmax()
print("Area with the highest sum in 2017:", area_highest_sum)

Area with the highest sum in 2017: Nigeria

In [67]:
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [68]:
filtered_data = data[(data['Area'] == 'Madagascar') & data['Y2015']]
total_protein_supply = filtered_data[(filtered_data['Element'] == 'Protein supply quantity (g/capita/day)')].sum()
print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply)

Total Protein supply quantity in Madagascar in 2015: Area Code                                                    8901
Area            MadagascarMadagascarMadagascarMadagascarMadaga...
Item Code                                                  189330
Item            Grand TotalVegetal ProductsAnimal ProductsCere...
Element Code                                                46506
Element         Protein supply quantity (g/capita/day)Protein ...
Unit            g/capita/dayg/capita/dayg/capita/dayg/capita/d...
Y2014                                                      177.77
Y2015                                                      173.05
Y2016                                                      173.37
Y2017                                                      175.72
Y2018                                                       176.6
dtype: object

In [69]:
# The output of the following is
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [70]:
# Group the data by 'Element' and calculate the sum of 'Processing' in 2017
grouped_data = data[['Y2017', 'Element']]
group_data = grouped_data.groupby('Element')['Y2017'].sum()
# Retrieve the sum of 'Processing' in 2017
processing_sum_2017 = group_data.loc['Processing']
print("Total sum of Processing in 2017:", processing_sum_2017)

Total sum of Processing in 2017: 292836.0